<h1>
  Edit loan #<%= @loan.id %>
</h1>

<hr>

<form action="/update_loan/<%= @loan.id %>" method="post">

  <div class="form-group">
    <label for="current_balance">
      Current balance
    </label>

    <input type="text" id="current_balance" name="current_balance" class="form-control" value="<%= @loan.current_balance %>">
  </div>

  <div class="form-group">
    <label for="original_amount">
      Original amount
    </label>

    <input type="text" id="original_amount" name="original_amount" class="form-control" value="<%= @loan.original_amount %>">
  </div>

  <div class="form-group">
    <label for="interest_rate">
      Interest rate
    </label>

    <input type="text" id="interest_rate" name="interest_rate" class="form-control" value="<%= @loan.interest_rate %>">
  </div>

  <div class="form-group">
    <label for="periods_in_year">
      Periods in year
    </label>

    <input type="text" id="periods_in_year" name="periods_in_year" class="form-control" value="<%= @loan.periods_in_year %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update loan
  </button>
</form>

<hr>

<a href="/loans">
  Go back
</a>
