<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Loan #<%= @loan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/loans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @loan.user %>
          <a href="/loans/<%= @loan.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit loan
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @loan.user %>
          <a href="/delete_loan/<%= @loan.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete loan
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Current balance
      </dt>
      <dd>
        <%= @loan.current_balance %>
      </dd>

      <dt>
        Original amount
      </dt>
      <dd>
        <%= @loan.original_amount %>
      </dd>

      <dt>
        Interest rate
      </dt>
      <dd>
        <%= @loan.interest_rate %>
      </dd>

      <dt>
        Periods in year
      </dt>
      <dd>
        <%= @loan.periods_in_year %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @loan.user.present? %>
          <a href="/users/<%= @loan.user_id %>">
            <%= @loan.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@loan.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@loan.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "loan_templates/loan_pmt_adjustments" %>
  </div>
</div>
